<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>projet_coVoiturage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>allServlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration2</display-name>
    <servlet-name>Registration2</servlet-name>
    <servlet-class>allServlets.Registration2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration2</servlet-name>
    <url-pattern>/Registration2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameAvailability</display-name>
    <servlet-name>CheckUsernameAvailability</servlet-name>
    <servlet-class>allServlets.CheckUsernameAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameAvailability</servlet-name>
    <url-pattern>/CheckUsernameAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>allServlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifState</display-name>
    <servlet-name>VerifState</servlet-name>
    <servlet-class>allServlets.VerifState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifState</servlet-name>
    <url-pattern>/VerifState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfil</display-name>
    <servlet-name>EditProfil</servlet-name>
    <servlet-class>allServlets.EditProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfil</servlet-name>
    <url-pattern>/EditProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>allServlets.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile2</display-name>
    <servlet-name>EditProfile2</servlet-name>
    <servlet-class>allServlets.EditProfile2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile2</servlet-name>
    <url-pattern>/EditProfile2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfil_update</display-name>
    <servlet-name>EditProfil_update</servlet-name>
    <servlet-class>allServlets.EditProfil_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfil_update</servlet-name>
    <url-pattern>/EditProfil_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPassword</display-name>
    <servlet-name>checkPassword</servlet-name>
    <servlet-class>allServlets.checkPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPassword</servlet-name>
    <url-pattern>/checkPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpgradeProfile</display-name>
    <servlet-name>UpgradeProfile</servlet-name>
    <servlet-class>allServlets.UpgradeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpgradeProfile</servlet-name>
    <url-pattern>/UpgradeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicleServlet</display-name>
    <servlet-name>AddVehicleServlet</servlet-name>
    <servlet-class>allServlets.AddVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicleServlet</servlet-name>
    <url-pattern>/AddVehicleServlet</url-pattern>
  </servlet-mapping>
  <display-name>projet_coVoiturage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcessVehicleDataServlet</display-name>
    <servlet-name>ProcessVehicleDataServlet</servlet-name>
    <servlet-class>allServlets.ProcessVehicleDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessVehicleDataServlet</servlet-name>
    <url-pattern>/ProcessVehicleDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandServlet</display-name>
    <servlet-name>BrandServlet</servlet-name>
    <servlet-class>allServlets.BrandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandServlet</servlet-name>
    <url-pattern>/BrandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLicensePlateServlet</display-name>
    <servlet-name>CheckLicensePlateServlet</servlet-name>
    <servlet-class>allServlets.CheckLicensePlateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLicensePlateServlet</servlet-name>
    <url-pattern>/CheckLicensePlateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOfferServlet</display-name>
    <servlet-name>AddOfferServlet</servlet-name>
    <servlet-class>allServlets.AddOfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOfferServlet</servlet-name>
    <url-pattern>/AddOfferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessOfferDataServlet</display-name>
    <servlet-name>ProcessOfferDataServlet</servlet-name>
    <servlet-class>allServlets.ProcessOfferDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessOfferDataServlet</servlet-name>
    <url-pattern>/ProcessOfferDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>allServlets.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>allServlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>allServlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YourRides</display-name>
    <servlet-name>YourRides</servlet-name>
    <servlet-class>allServlets.YourRides</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YourRides</servlet-name>
    <url-pattern>/YourRides</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginA</display-name>
    <servlet-name>LoginA</servlet-name>
    <servlet-class>allServlets.LoginA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginA</servlet-name>
    <url-pattern>/LoginA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelRide</display-name>
    <servlet-name>CancelRide</servlet-name>
    <servlet-class>allServlets.CancelRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelRide</servlet-name>
    <url-pattern>/CancelRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUsers</display-name>
    <servlet-name>AllUsers</servlet-name>
    <servlet-class>allServlets.AllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUsers</servlet-name>
    <url-pattern>/AllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRequest</display-name>
    <servlet-name>CustomerRequest</servlet-name>
    <servlet-class>allServlets.CustomerRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRequest</servlet-name>
    <url-pattern>/CustomerRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRequest</display-name>
    <servlet-name>ApproveRequest</servlet-name>
    <servlet-class>allServlets.ApproveRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRequest</servlet-name>
    <url-pattern>/ApproveRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectRequest</display-name>
    <servlet-name>RejectRequest</servlet-name>
    <servlet-class>allServlets.RejectRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectRequest</servlet-name>
    <url-pattern>/RejectRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentCustomers</display-name>
    <servlet-name>RecentCustomers</servlet-name>
    <servlet-class>allServlets.RecentCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentCustomers</servlet-name>
    <url-pattern>/RecentCustomers</url-pattern>
  </servlet-mapping>
</web-app>