<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	    
	
		<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	    <link  rel="stylesheet" href="/css/styleride.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Comment</title>
	</head>
	<body>
	   
	    <nav>
	        <div class="logo">
	            <a href="#" style="text-decoration:none;">
	                <img class="imglogo" src="/images/logovR0.png">
	            </a>
	            <span>inCarpool</span>
	        </div>
	        
	    </nav>
	    
	    <section div="container">
	        <div class="form">
				<form th:action="@{/offer/selectComment}" method="post">
	                <div class="container-form ">
	                    <div class="section-content">
	                        <h1 class="sc-gswNZR sc-jIRcFI sc-hhOBVt kQcYu kHCrWL kfLeeZ" style="color: rgb(96, 76, 76); font-size: 30px;padding-bottom: 3%;">Anything to add about your ride?</h1>
	                        <div class="sc-hgRfpC dmKLeG kirk-textarea">
	                            <div class="kirk-textarea-wrapper"><textarea placeholder="Hello! I'm going to visit my family. I travel with a cat and I have a lot of space in the boot!" class="kirk-textarea-element" name="comment" maxlength="10000" title="Anything to add about your ride?" style="width: 626px; height: 194px; border-radius:10px; padding-top: 2px;"></textarea>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="boutons">
	                    <div class="boutonR" style="margin-left: 25%;">
	                        <button type="submit" class="backbtn" id="nextButton"> 
                        <span class="btntext">Publish your ride</span>
                        
                    </button>
	                    </div>
	                </div>
	            </form>
	            
	        </div>
	    </section>
	</body>
</html>